@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:700);
@import url(https://fonts.googleapis.com/css?family=Abel);
body {font-family: Arial; sans-serif;
	background-color: white;
}
h1, h2 {color: #368E0D;
	font-family: 'Roboto Slab', serif;
}
p, ul, li {color: #2B2B2B;
	font-family: 'Abel', sans-serif;
}
#slogan {font-style: italic;
}
header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}
nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}
aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}
article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}
footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}
div {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}